[Unit]
Description=Check home IP service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=10
User=user
ExecStart=/path/to/checkhomeip

[Install]
WantedBy=multi-user.target
